<h1>Showing Agents by Zip</h1>
<h6>/furl/app/agents/show_by_zipcode.html.erb</h6>
<h6>maybe I should name the file by_zip.html.erb and created a def by_zip</h6>

<p>I want to show a paginated list of 5 agents per page</p>
<ul>
	<li>Agent1</li>
	<li>Agent2</li>
	<li>Agent3</li>
	<li>Agent4</li>
	<li>Agent5</li>
</ul>